.sr-table {
  &__square-wrap {
    width: 33.3%;
    float: left;
    height: 33.3%;
    outline: 1px solid;
  }

  &__square {
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color : transparent;
    text-shadow : 0 0 0 #000;
    font-size: 3rem;
    cursor: pointer;

    &_default {
      background: aliceblue;
      pointer-events: none;
      cursor: default;
    }

    &:focus {
      background: honeydew;
      outline: none;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}
